<style>
.bordered-image {
    border: medium solid #5D5D5D;
}

        header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .section {
            margin-bottom: 30px;
        }

        .section h2 {
            color: #333;
        }

        .column {
            width: 100%;
            float: left;
            box-sizing: border-box;
            padding: 10px;
        }
.column p .bordered-image {
}
/* Style for cells with simple text */
.text-cell {
  /* Add specific styling for cells with simple text */
}

/* Style for cells with a bordered box */
.bordered-box-cell {
  border: 1px solid #000;
  padding: 2px;
  vertical-align: top;
}
p {
    font-size: 18px;
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #555; /* Dark gray background color */
    color: white; /* White text color */
}

.custom-table td {
    padding: 10px; /* Padding on the left and right */
    border: 1px solid #ddd;
    font-weight: bold; /* Bold font */
}

.custom-table td img {
    display: block; /* Make sure the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally within the cell */
}

.custom-table td:first-child,
.custom-table td:nth-child(2) {
    padding-top: 5px; /* Adjust top padding for the first and second cells */
    padding-bottom: 5px; /* Adjust bottom padding for the first and second cells */
}



        @media (min-width: 600px) {
            .column {
    width: 0pc;
            }
        }

        @media (min-width: 900px) {
            .column {
    width: 100%;
            }
        }

        img {
    width: 50px;
    height: auto;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    body,td,th {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 16px;
}
a:link {
    color: #1B45F5;
}
a:visited {
    color: #FA3D40;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 10px;
}
h5 {
    font-size: 8px;
}
    .full {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 18px;
    font-style: normal;
    position: relative;
    height: auto;
    width: auto;
    max-width: 100%;
}
    .half {
    height: auto;
    width: auto;
}
    .indent {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
    .comment {
    font-size: 16px !important;
    color: red !important;
    font-weight: bold;
}
/* styles.css */

.magnify-container {
  position: relative;
  width: 400px; /* Set your desired width */
  height: 400px; /* Set your desired height */
  overflow: hidden;
}

#magnifyImage1,
#magnifyImage2 {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
  position: absolute;
  left: 0;
  top: 0;
}

</style>
